.cover{
    background-image: url(../../inner_HEADER.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    
    
}
.padding{
    padding: 150px;
    font-weight: 700;
    color: white;
    
}